@media (min-width: 640px) {

	nav li  {
		display: flex;
		justify-content: space-around;
	}
	span{
		margin-left: 20px;
	}
	main{
		display:grid;
		grid-template-columns: 2fr 1fr;
		gap:20px;
		margin: 100px;
	}
	.card{
		grid-column: 1/2;
	}
	li{
		margin-left: 20px;
		margin-top:20px;
		margin-bottom:20px;
		list-style:none;
		
	}
	
	footer{
		padding: 50px;
	}
	
}