@media (min-width: 640px) {

	nav ul  {
		display: flex;
	}
	span{
		margin-left: 20px;
	}
	main{
		display:grid;
		grid-template-columns: 2fr 1fr;
		gap:20px;
		margin: 100px;
	}
	.card{
		grid-column: 1/2;
	}
	li{
		margin-left: 20px;
		margin-top:20px;
		margin-bottom:20px;
		list-style:none;
		
	}
	section{
        height: 300px;
    }
	footer{
		padding: 50px;
	}
	
}